{{!-- Layouts --}}
{{!< default}}

{{#contentFor "mapache_class_body"}}is-home{{/contentFor}}

{{#is "paged"}}
    {{!-- lates post - partials/loop.hbs --}}
    {{> "loop"}}
{{else}}

{{!-- Home Top Section --}}
<div class="h-cover home-banner mx-auto mb-10 p-2 grid gap-2 lg:grid-cols-5">
    {{#foreach posts visibility="all" from="1" to="3"}}
        {{!-- Home Top Section -> 3 first Articles - partials/story/story-cover.hbs --}}
        {{> "story/story-cover" }}
    {{/foreach}}
</div>

{{#page}}
<h1 class="post-title text-4xl md:text-44 mb-5 text-title text-center mx-auto max-w-3xl">{{title}}</h1>


{{!-- Post Grid - 4 latest articles --}}
<div class="container mx-auto mb-16">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">

        {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
        {{#foreach posts visibility="all" from="4" to="8"}}
            {{> "story/story-grid" classTitle='text-xl'}}
        {{/foreach}}

    </div>
</div>

{{!-- Switch to the 'post' context to grab editable content --}}
<div class="post-body-wrap relative lg:flex mx-auto max-w-3xl">
    <div class="post-body min-w-0 js-post-content{{#match @custom.post_font "=" "font-serif"}} font-serif{{else}} font-sans{{/match}}{{#match @custom.post_font_size "=" "20px"}} text-xl{{else}} text-lg{{/match}}">
        {{content}}
    </div>
</div>
{{/page}}

{{!-- Post List - 5 latest articles --}}
<div class="container mx-auto my-10">
    <div class="flex flex-col flex-wrap lg:flex-row">
        <div class="flex-1">
            <div class="js-post-feed">
                {{!-- Story List - partials/story/story-list.hbs --}}
                {{#foreach posts visibility="all" from="9" to="14"}}
                    {{> "story/story-list"}}
                {{/foreach}}
            </div>

            {{pagination}}
        </div>

        {{!-- Sidebar - partials/sidebar.hbs --}}
        {{> "sidebar"}}
    </div>
</div>

{{/is}}